jupyterlab
jupyter-server
jupyter-config
python-language-server
dask
pyarrow
dask[complete]
dask-ml
scipy
pycodestyle
jupyterlab-visualpython
jedi-language-server
python-lsp-server
tornado==6.2
ipywidgets
tlid
opencv-python
requests
openai
langchain
langchain-community
langchainhub
langchain-openai
jgtpy
jgtml
dash